/* Global */
.container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 120px 0 0 0;
}

.wrap {
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 8px;
    color: #474747;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ADADAD;
}

/* Add Wish Form */
.add-item {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    float: left;
    width: 400px;
    padding: 32px;
    margin-right: 16px;
    background: #FFFFFF;
}

.add-item h3 {
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Added Items – List */
.items-list {
    float: right;
    width: 400px;
    margin-left: 16px;
}

.wish {
    overflow: hidden;
    margin-bottom: 24px;
    background: #FFFFFF;
    
}

h2 {
    margin: 0;
    font-size: 16px;
    color: #474747;
    line-height: 24px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    background: #F9F9F9;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.name .MuiButton-root {
    line-height: 1.25 !important;
}


p {
    color: #ADADAD;
    font-size: 14px;
}

.name p {
    margin: 0 12px;
}

.name .currentName {
    color: #00A0D0;
}


/* Custom – Material UI Components */
.MuiFilledInput-underline:after {
    border-bottom: 2px solid #00A0DD !important;
}

.MuiInputLabel-root.Mui-focused {
    color: #00A0DD !important;
}

.MuiButton-containedPrimary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-weight: 600 !important;
}

.MuiFormControl-root {
    margin: 0 0 24px 0 !important;
}

.MuiFilledInput-root {
    border-radius: 0 !important;
}

.MuiFilledInput-underline:before {
    border-bottom: none !important;
}

.MuiFormLabel-root {
    font-weight: 600 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.MuiInputBase-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.MuiButton-outlined {
    padding: 8px 8px !important;
}

.MuiButton-root { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}

