nav {
    width: 100%;
    height: 72px;
    padding: 0 24px;
    background: #00A0DD;
}

.nav-items {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    float: left;
    width: 150px;
}


.user-dropdown {
    display: flex;
}

.tabs {
    height: 72px;
}


.MuiIconButton-root {
    outline: 0 !important;
}

.user-dropdown {
    z-index: 2;
}

.MuiAvatar-circle {
    border: 2px solid white;
}

.MuiBackdrop-root {
    z-index: 1 !important;
}

.MuiTabs-indicator {
    background-color: white !important;
    height: 4px !important;
}

.MuiTab-root {
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}
@media only screen and (max-width: 900px) {
    .tabs {
      display: none;
    }

    .menu-sm {
        display: block;
    }

    .nav-logo {
        display: none;
    }

    .nav-logo-sm {
        width: 150px;
    }
  }

  @media only screen and (min-width: 900px) {
    .menu-sm {
        display: none;
    }

    .nav-logo-sm {
        display: none;
    }
  }
  